@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-toolbar .jodit_toolbar {
  position: sticky;
  top: 10;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: #fff; /* Add a background color if desired */
}
